<h1 class="header">Billboard Earth: Weekly Top 10</h1>


<h2>Updated Weekly: The world's 10 hottest songs</h2>




<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th>Track</th>
    <th>Rank</th>
    

  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/lena.png" class="ui mini rounded image">
          <div class="content">
            In My Feelings
            <div class="sub header"><%= link_to "Drake", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        1
      </td>

    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            God Is A Woman
            <div class="sub header"><%= link_to "Ariana Grande", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        2
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/lindsay.png" class="ui mini rounded image">
          <div class="content">
            Girls Like You
            <div class="sub header"><%= link_to "Maroon 5", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        3
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/mark.png" class="ui mini rounded image">
          <div class="content">
          I Like It
            <div class="sub header"><%= link_to "Cardi B, Bad Bunny & J Balvin", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        4
      </td>
    </tr>

<tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            Better Now
            <div class="sub header"><%= link_to "Post Malone", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        5
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            FEFE
            <div class="sub header"><%= link_to "6ix9ine Featuring Nicki Minaj & Murda Beatz", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        6
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
           Lucid Dreams
            <div class="sub header"><%= link_to "Juice WRLD", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        7
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            Sicko Mode
            <div class="sub header"><%= link_to "Travis Scott", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        8
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            Taste
            <div class="sub header"><%= link_to "Tyga Feat. Offset", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        9
      </td>
    </tr>

    <tr>
      <td>
        <h4 class="ui image header">
          <img src="/images/avatar2/small/matthew.png" class="ui mini rounded image">
          <div class="content">
            Love Lies
            <div class="sub header"><%= link_to "Khalid & Normani", @artist %>
          </div>
        </div>
      </h4></td>
      <td>
        10
      </td>
    </tr>
  </tbody>
</table>



